<div mat-dialog-title>
  <h1>Clases Form</h1>
</div>

<form [formGroup]="claseForm" (ngSubmit)="onFormSubmit()">

  <div mat-dialog-content class="content">
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Nombre de la Clase</mat-label>
        <input matInput placeholder="Calculo" type="text" formControlName="nombreClase">

      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Cantidad Alumnos</mat-label>
        <input matInput placeholder="356" type="numeric" formControlName="cantidadAlumnos">
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Profesor</mat-label>
        <input matInput placeholder="Diego Furrer" type="text" formControlName="profesor">
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions class="action">
    <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="claseForm.invalid">{{data ? 'Update' : 'Save'}}</button>
  </div>

</form>
