.drawer{
  width: 300px;
  min-height: 100vh;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
div{
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
h1{
  background-color: #3f51b5;
  margin-top: 0;
  width: 100%;
  padding: 0;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.gray{
  background-color: lightcyan;
}


.entero{
  display: block;
  height: 100vh;
}

a, button{
  width: 90%;
}
