<mat-drawer-container class="entero">
  <mat-drawer mode="side" opened class="drawer container gray">
    <div>
      <h1 class="titulo"><strong>CRUD</strong></h1>
    </div>
    <div>
      <a routerLink="info"><button mat-raised-button color="primary">Información</button></a>
    </div>
    <div>
      <a routerLink="alumnos"><button mat-raised-button color="primary">Alumnos</button></a>
    </div>
    <div>
      <a routerLink="cursos"><button mat-raised-button color="primary">Cursos</button></a>
    </div>
    <div>
      <a routerLink="inscripciones"><button mat-raised-button color="primary">Inscripciones</button></a>
    </div>
    <div *ngIf="rol=='Administrador'">
      <a routerLink="usuarios"><button mat-raised-button color="primary">Usuarios</button></a>
    </div>
    <div>
      <a (click)="logout()"><button mat-raised-button color="accent">Cerrar Sesión</button></a>
    </div>
  </mat-drawer>
  <mat-drawer-content><ng-content></ng-content></mat-drawer-content>
</mat-drawer-container>
