<div class="main-body">
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter.emit($event)" placeholder="" #input>
  </mat-form-field>
  <div class="table-container">
    <table mat-table [dataSource]="dataSource? dataSource : []" matSort>

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header appHighlight> ID </th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>

      <ng-container matColumnDef="fullname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header appHighlight>Nombre Completo</th>
        <td mat-cell *matCellDef="let row"> {{ row | nombreCompleto }} </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header appHighlight> Email </th>
        <td mat-cell *matCellDef="let row"> {{row.email}} </td>
      </ng-container>

      <ng-container matColumnDef="alumnoInscripcion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header appHighlight> Alumno </th>
        <td mat-cell *matCellDef="let row"> {{ row.alumno | nombreCompleto}} </td>
      </ng-container>

      <ng-container matColumnDef="cursoInscripcion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header appHighlight> Curso </th>
        <td mat-cell *matCellDef="let row"> {{row.curso.areaCurso}} </td>
      </ng-container>

      <ng-container matColumnDef="areaCurso">
        <th mat-header-cell *matHeaderCellDef mat-sort-header appHighlight> Area del Curso </th>
        <td mat-cell *matCellDef="let row"> {{row.areaCurso}} </td>
      </ng-container>

      <ng-container matColumnDef="duracion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header appHighlight> Duración </th>
        <td mat-cell *matCellDef="let row"> {{row.duracion}} </td>
      </ng-container>

      <ng-container matColumnDef="certificado">
        <th mat-header-cell *matHeaderCellDef mat-sort-header appHighlight> Certificado </th>
        <td mat-cell *matCellDef="let row"> {{row.certificado}} </td>
      </ng-container>

      <ng-container matColumnDef="usuario">
        <th mat-header-cell *matHeaderCellDef mat-sort-header appHighlight> Usuario </th>
        <td mat-cell *matCellDef="let row"> {{row.usuario}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header appHighlight> Action </th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button color="primary" (click)="showButton.emit(row)">
            <mat-icon>remove_red_eye</mat-icon>
          </button>
          <button *ngIf="rol=='Administrador'" mat-icon-button color="primary" (click)="editButton.emit(row)">
            <mat-icon>edit</mat-icon>
          </button>
          <button *ngIf="rol=='Administrador'" mat-icon-button color="warn" (click)="deleteButton.emit(row.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
