<div mat-dialog-title>
  <h1>Inscripción</h1>
</div>

<form [formGroup]="inscripcionForm" (ngSubmit)="onFormSubmit()">

  <div mat-dialog-content class="content">
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Alumno</mat-label>
        <mat-select formControlName="alumno">
          <mat-option [value]="alumno.id"  *ngFor="let alumno of  alumnosOptions$ | async">
            {{ alumno | nombreCompleto }}
          </mat-option>

        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Curso</mat-label>
        <mat-select formControlName="curso">
          <mat-option [value]="curso.id"  *ngFor="let curso of  cursosOptions$ | async">
            {{ curso.areaCurso }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions class="action">
    <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="inscripcionForm.invalid">{{data ? 'Update' : 'Save'}}</button>
  </div>

</form>
