<div class="container">
  <div class="inner-container">
    <h1><strong>Registro</strong></h1>
    <h2>Es necesario ingresar despues de registrarse.</h2>
    <div>
      <div>
        <mat-form-field class="all">
          <mat-label>User</mat-label>
          <input [formControl]="usuarioControl" matInput />
          <mat-error>CAMPO INVALIDO</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="all">
          <mat-label>Email</mat-label>
          <input [formControl]="emailControl" matInput />
          <mat-error>CAMPO INVALIDO</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="all">
          <mat-label>Contraseña</mat-label>
          <input [formControl]="passwordControl" type="password" matInput />
          <mat-error>CAMPO INVALIDO</mat-error>
        </mat-form-field>
      </div>
      <div class="botones mtop">
        <div>
          <button (click)="register()" mat-flat-button color="primary">Registrarse</button>
        </div>
        <div>
          <a routerLink="../login"><button mat-flat-button color="accent">Ir al login</button></a>
        </div>
        <div>
          <button (click)="aviso()" mat-flat-button color="warn">
            Leer Aviso
          </button>
        </div>
      </div>

    </div>
  </div>
</div>
